.formMainContainer {
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.formMainContainer .formContainer {
    background: var(--darkGrey);
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.formMainContainer .formContainer .formHead {
    color: var(--darkBlue);
    font-weight: 600;
}

.formContainer .inputField div {
    background: var(--darkColor);
}

.formContainer .inputField input {
    background: var(--darkColor);
    color: var(--lightColor);
    padding: 12px 14px;
}

.formContainer .inputField .visibilityIcon {
    color: var(--lightColor);
    cursor: pointer;
}

.formContainer .authBtn {
    width: 100%;
    margin-top: 1.5rem;
    font-size: 1rem;
}

@media only screen and (max-width:450px) {
    .formMainContainer {
        padding: 0 14px;
    }

    .formMainContainer .formContainer {
        min-width: 100%;
        padding: 2rem 1rem;
    }
}