.formMainContainer {
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.formMainContainer .formContainer {
    background: var(--darkGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.formMainContainer .formContainer .formHead {
    color: var(--darkBlue);
    font-weight: 600;
}

.formContainer .inputField input {
    background: var(--darkColor);
    color: var(--lightColor);
    padding: 12px 14px;
}

.formContainer .inputField input:hover {
    border: 1px solid #4c4c4c;
}

.formContainer .authBtn {
    width: 100%;
    margin-top: 1.5rem;
}