.downloadSection{
    height:calc(100lvh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloadBox {
    text-align: center;
}

.fileName {
    color: var(--darkBlue);
}

.downloadBox .downloadBtn {
    min-width: 65%;
    width: 50%;
    margin: auto;
    border-radius:2rem;
    height:2.4rem;
}

